---
import Layout from "../layouts/Layout.astro";
import HotelCard from "../components/hotel/card.vue";

const hotels = await (
  await fetch(import.meta.env.PRIVATE_API_URL + "/hotel", {
    method: "GET",
  })
).json();
---

<Layout title="Overnites">
  <main class="flex flex-wrap justify-center gap-8 sm:p-24 p-4">
    {hotels.map((hotel: any) => <HotelCard hotel={hotel} />)}
  </main>
</Layout>

<style></style>
