---
const headers = Astro.request.headers;

if (!headers.has("authorization")) {
    Astro.response.status = 404;
    return Astro.redirect("/login");
}

const authenticationHeader = headers.get("authorization");

if (!authenticationHeader) {
    return Astro.redirect("/login");
}

const user = await (
    await fetch(import.meta.env.PRIVATE_API_URL + "/auth/user", {
        method: "GET",
        headers: {
            Authorization: authenticationHeader,
        },
    })
).json();

console.log(user);

if (user && user?.statusCode === 401) {
    return Astro.redirect("/login");
}
---

<div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <aside
        class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-primary-600"
    >
        <div class="sidebar-header flex items-center justify-center py-4">
            <div class="inline-flex">
                <a href="/" class="inline-flex flex-row items-center h-10">
                    <svg
                        class="h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="244.4 354.88 535.18 58.23"
                        ><g
                            style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                            ><path
                                fill="#cfb39d"
                                d="M309.033-2.376c4.248 2.304 9.072 3.384 14.4 3.384 5.328 0 10.08-1.08 14.328-3.384 4.248-2.232 7.56-5.328 10.008-9.36 2.448-3.96 3.672-8.424 3.672-13.464 0-4.968-1.224-9.432-3.672-13.464-2.448-3.96-5.76-7.056-10.008-9.36-4.248-2.232-9-3.384-14.328-3.384-5.328 0-10.152 1.152-14.4 3.384-4.248 2.304-7.56 5.4-10.008 9.36-2.448 4.032-3.6 8.496-3.6 13.464 0 5.04 1.152 9.504 3.6 13.464 2.448 4.032 5.76 7.128 10.008 9.36zM330.345-12.6c-2.088 1.224-4.392 1.8-6.912 1.8-2.592 0-4.896-.576-6.912-1.8-2.088-1.152-3.744-2.88-4.896-5.04-1.224-2.16-1.8-4.68-1.8-7.56 0-2.808.576-5.328 1.8-7.488a12.868 12.868 0 0 1 4.896-5.112c2.016-1.152 4.32-1.8 6.912-1.8 2.52 0 4.824.648 6.912 1.8 2.016 1.224 3.672 2.952 4.896 5.112 1.152 2.16 1.8 4.68 1.8 7.488 0 2.88-.648 5.4-1.8 7.56-1.224 2.16-2.88 3.888-4.896 5.04z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -83.5 411.972)"
                            ></path><path
                                fill="#c0a691"
                                d="M366.796-50.4h-15.408l14.328 33.696 7.704-17.64zm27.648 0-13.968 32.832L372.916 0h14.04l21.6-50.4z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -76.84 411.972)"
                            ></path><path
                                fill="#b19885"
                                d="M451.18-50.4h-39.96v11.016h39.96zm0 19.512h-39.96v10.656h39.96zm-39.96 19.872V0h39.96v-11.016z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -70.18 411.972)"
                            ></path><path
                                fill="#a28b79"
                                d="M495.163-15.84c3.096-1.512 5.544-3.6 7.272-6.336 1.728-2.736 2.592-5.904 2.592-9.576 0-3.744-.936-7.056-2.736-9.864-1.872-2.808-4.464-4.968-7.776-6.48-3.384-1.512-7.344-2.304-11.88-2.304h-23.04v11.232h22.176c2.88 0 5.112.648 6.624 1.944 1.44 1.296 2.232 3.168 2.232 5.472 0 2.376-.792 4.176-2.232 5.472-1.512 1.296-3.744 1.872-6.624 1.872h-22.176V0h14.256v-13.392h7.776L490.77 0h15.264z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -63.52 411.972)"
                            ></path><path
                                fill="#937e6e"
                                d="M512.892 0h13.968v-8.496L512.892-26.28zm33.984-50.4v9.144l13.968 16.848V-50.4Zm0 26.856L524.628-50.4h-11.736v6.696l13.968 16.848L549.108 0h11.736v-5.832l-13.968-17.784z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -56.86 411.972)"
                            ></path><path
                                fill="#837062"
                                d="M570.97-50.4V0h14.256v-50.4z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -50.2 411.972)"
                            ></path><path
                                fill="#746356"
                                d="M606.166-39.096V0h14.256v-39.096h15.408V-50.4h-45.144v11.304z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -43.54 411.972)"
                            ></path><path
                                fill="#65554a"
                                d="M681.102-50.4h-39.96v11.016h39.96zm0 19.512h-39.96v10.656h39.96zm-39.96 19.872V0h39.96v-11.016z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -36.88 411.972)"
                            ></path><path
                                fill="#56483e"
                                d="M695.349-.504c3.816 1.008 7.776 1.512 11.88 1.512 4.752 0 8.856-.72 12.24-2.16 3.312-1.44 5.832-3.456 7.56-5.904 1.656-2.448 2.52-5.184 2.52-8.208 0-3.456-.936-6.264-2.808-8.28-1.872-2.016-4.032-3.528-6.552-4.464-2.52-.936-5.688-1.8-9.504-2.664-3.456-.72-5.904-1.368-7.416-2.088-1.584-.648-2.304-1.656-2.304-3.024 0-1.296.648-2.376 1.944-3.24 1.296-.864 3.312-1.296 6.192-1.296 4.464 0 9.144 1.296 13.968 3.888l4.392-10.584c-2.448-1.44-5.328-2.52-8.496-3.24-3.24-.72-6.48-1.152-9.792-1.152-4.896 0-9 .72-12.312 2.16-3.312 1.44-5.832 3.456-7.488 5.904-1.728 2.448-2.52 5.256-2.52 8.28 0 3.528.864 6.336 2.736 8.352 1.8 2.088 3.96 3.6 6.552 4.536 2.52.936 5.688 1.8 9.504 2.592 3.456.792 5.904 1.512 7.488 2.232 1.584.72 2.376 1.728 2.376 3.168 0 2.736-2.736 4.104-8.208 4.104-2.88 0-5.832-.432-8.784-1.368-3.024-.864-5.616-2.088-7.848-3.6l-4.68 10.512c2.376 1.728 5.472 3.024 9.36 4.032z"
                                style='font-style:normal;font-weight:800;font-size:72px;line-height:1;font-family:"Montserrat ExtraBold Alt1";font-variant-ligatures:none;text-align:center;text-anchor:middle'
                                transform="matrix(1.11 0 0 1.11 -30.22 411.972)"
                            ></path></g
                        ></svg
                    >
                </a>
            </div>
        </div>
        <div class="sidebar-content px-4 py-6">
            <ul class="flex flex-col w-full">
                <li class="my-px">
                    <a
                        href="/admin"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-black-700 bg-primary-200"
                    >
                        <span
                            class="flex items-center justify-center text-lg text-black-400"
                        >
                            <svg
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                                ></path>
                            </svg>
                        </span>
                        <span class="ml-3">Dashboard</span>
                    </a>
                </li>
                <li class="my-px">
                    <span
                        class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase"
                        >Admin</span
                    >
                </li>

                {
                    (user.permissions.includes("Hotel Create") ||
                        user.permissions.includes("Hotel Update") ||
                        user.permissions.includes("Hotel Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin/hotel"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Hotel</span>
                            </a>
                        </li>
                    )
                }

                {
                    (user.permissions.includes("HotelSetting GetAll") ||
                        user.permissions.includes("HotelSetting Get") ||
                        user.permissions.includes("HotelSetting Create") ||
                        user.permissions.includes("HotelSetting Update") ||
                        user.permissions.includes("HotelSetting Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Hotel Setting</span>
                            </a>
                        </li>
                    )
                }

                {
                    (user.permissions.includes("HotelInformation Create") ||
                        user.permissions.includes("HotelInformation Update") ||
                        user.permissions.includes("HotelInformation Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Hotel Information</span>
                            </a>
                        </li>
                    )
                }

                {
                    (user.permissions.includes("Floor GetAll") ||
                        user.permissions.includes("Floor Get") ||
                        user.permissions.includes("Floor Create") ||
                        user.permissions.includes("Floor Update") ||
                        user.permissions.includes("Floor Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Floor</span>
                            </a>
                        </li>
                    )
                }

                {
                    (user.permissions.includes("Room GetAll") ||
                        user.permissions.includes("Room Get") ||
                        user.permissions.includes("Room Create") ||
                        user.permissions.includes("Room Update") ||
                        user.permissions.includes("Room Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Room</span>
                            </a>
                        </li>
                    )
                }

                {
                    (user.permissions.includes("RoomType Create") ||
                        user.permissions.includes("RoomType Update") ||
                        user.permissions.includes("RoomType Delete")) && (
                        <li class="my-px">
                            <a
                                href="/admin"
                                class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="flex items-center justify-center text-lg text-gray-400">
                                    <svg
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                    >
                                        <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                </span>
                                <span class="ml-3">Room Type</span>
                            </a>
                        </li>
                    )
                }

                <li class="my-px">
                    <span
                        class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase"
                        >Account</span
                    >
                </li>
                <li class="my-px">
                    <a
                        href="/user"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span
                            class="flex items-center justify-center text-lg text-gray-400"
                        >
                            <svg
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                                ></path>
                            </svg>
                        </span>
                        <span class="ml-3">Profile</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                        href="#"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span
                            class="flex items-center justify-center text-lg text-gray-400"
                        >
                            <svg
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                                ></path>
                            </svg>
                        </span>
                        <span class="ml-3">Notifications</span>
                        <span
                            class="flex items-center justify-center text-xs text-red-500 font-semibold bg-red-100 h-6 px-2 rounded-full ml-auto"
                            >10</span
                        >
                    </a>
                </li>
                <li class="my-px">
                    <a
                        href="#"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span
                            class="flex items-center justify-center text-lg text-gray-400"
                        >
                            <svg
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                                ></path>
                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                ></path>
                            </svg>
                        </span>
                        <span class="ml-3">Settings</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                        id="logoutButton"
                        class="flex flex-row cursor-pointer items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span
                            class="flex items-center justify-center text-lg text-red-400"
                        >
                            <svg
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                                ></path>
                            </svg>
                        </span>
                        <span class="ml-3">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main
        class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in"
    >
        <header class="header bg-primary-600 shadow py-4 px-4">
            <div class="header-content flex items-center flex-row">
                <form action="#">
                    <div class="hidden md:flex relative">
                        <div
                            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-black-400"
                        >
                            <svg
                                class="h-6 w-6"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                ></path>
                            </svg>
                        </div>

                        <input
                            id="search"
                            type="text"
                            name="search"
                            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-primary-200 w-full h-10 focus:outline-none bg-primary-200"
                            placeholder="Search..."
                        />
                    </div>
                    <div class="flex md:hidden">
                        <a
                            href="#"
                            class="flex items-center justify-center h-10 w-10 border-transparent"
                        >
                            <svg
                                class="h-6 w-6 text-gray-500"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                ></path>
                            </svg>
                        </a>
                    </div>
                </form>
                <div class="flex ml-auto">
                    <a href="/user" class="flex flex-row items-center">
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/3336/3336003.png"
                            alt="profile image"
                            class="h-10 w-10 bg-primary-500 border border-black rounded-full"
                        />
                        <span class="flex flex-col ml-3">
                            <span
                                class="truncate text-gray-200 font-semibold tracking-wide leading-none"
                                >{user.name}</span
                            >
                            <span
                                class="truncate w-20 text-gray-400 text-xs leading-none mt-1"
                                title={user.roles.join(", ")}
                                >{user.roles.join(", ")}</span
                            >
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <div class="main-content flex flex-col flex-grow p-4">
            <slot />
        </div>
        <footer class="footer px-4 py-6">
            <div class="footer-content">
                <p class="text-sm text-gray-600 text-center">
                    © Overnites 2023. All rights reserved.
                </p>
            </div>
        </footer>
    </main>
</div>

<script>
    function handleLogout() {
        fetch(import.meta.env.PUBLIC_API_URL + "/auth/logout", {
            method: "POST",
        }).then(() => {
            window.location.href = "/";
        });
    }

    const logoutButton = document.getElementById("logoutButton");

    if (logoutButton) {
        logoutButton.addEventListener("click", handleLogout);
    }
</script>
