---
import Hotels from "../../components/admin/hotels.vue";
import AdminLayout from "../../layouts/AdminLayout.astro";

const hotels = await (
    await fetch(import.meta.env.PRIVATE_API_URL + "/hotel", {
        method: "GET",
    })
).json();
---

<AdminLayout title="Overnites">
    <h1 class="font-bold text-2xl text-gray-700">Hotel</h1>

    <Hotels hotelsData={hotels} client:idle></Hotels>
</AdminLayout>

<style></style>
